{% extends 'base.html' %}
{% block title %}Folders{% endblock %}

{% block content %}
<h1>My Folders</h1>
<hr><br>
{% for folder in folders %}
<ul>
    <li>
        <a href="{{ url_for('show_folder_contents', folder_id=folder.id) }}">{{ folder.folder_name.capitalize() }}</a>
        <form action="{{ url_for('show_folders', user_id=user.id) }}" method="POST"
            onsubmit="return confirm('Are you sure you want to delete this folder?');">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

    </li>
    <hr>
</ul>
{% endfor %}

{% endblock %}