{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
<p>too lazy to read?</p>
<h3>tldr it.</h3>
<br>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <form action="{{ url_for('homepage') }}" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.url.label }}
                {{ form.url(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(class="form-control") }}
            </div>

            {% if form.url.errors %}
            <ul class="errors">
                {% for error in form.url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br>
            <button type="submit" class="btn btn-primary btn-lg">tldr</button>
        </form>
        <hr>
    </div>
</div>

{% if summary %}
<h1>TLDR Result:</h1><br>
<div class="container">
    <div>
        <h2>{{ summary.title }}</h2>
        <p>{{ summary.summary_text }}</p>
    </div>
    <br>


    <!-- Form for saving summary to an existing folder -->
    <form action="{{ url_for('save_summary', summary_id=summary.id) }}" method="POST" id="saveForm">
        <label for="folder-select">Save to folder?</label><br>
        <select name="folder" id="folder-select">
            {% for folder in folders %}
            <option value="{{folder.id}}">{{ folder.folder_name }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Save</button>
    </form><br><br>

    <!-- Form for creating a new folder -->
    <form action="{{ url_for('save_summary', summary_id=summary.id) }}" method="POST">
        <input type="text" name="newFolderName"><br><br>
        <button type="submit">Create new folder</button>
    </form>
    <br>

</div>
{% endif %}
{% endblock %}