{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <hr><br>
    <form action="{{url_for('show_login_form')}}" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username }}
            <br><br>
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}